[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/joyent/http-parser.git
  ignore = dirty
[submodule "deps/uv"]
	path = deps/uv
	url = https://github.com/joyent/libuv.git
  ignore = dirty
[submodule "deps/luajit"]
	path = deps/luajit
	url = https://github.com/luvit/luajit-2.0.git
  ignore = dirty
[submodule "deps/yajl"]
	path = deps/yajl
	url = https://github.com/lloyd/yajl.git
  ignore = dirty
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/luvit/zlib.git
  ignore = dirty
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/luvit/openssl.git
  ignore = dirty
[submodule "deps/luacrypto"]
	path = deps/luacrypto
	url = https://github.com/luvit/luacrypto
  ignore = dirty
[submodule "tools/gyp"]
	path = tools/gyp
	url = https://github.com/luvit/gyp.git
  ignore = dirty
