[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/joyent/http-parser.git
[submodule "deps/uv"]
	path = deps/uv
	url = https://github.com/joyent/libuv.git
[submodule "deps/luajit"]
	path = deps/luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "deps/yajl"]
	path = deps/yajl
	url = https://github.com/lloyd/yajl.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/creationix/zlib.git
