language: c

sudo: false

addons:
  apt:
    packages:
    - gdb

os:
  - linux
  - osx

before_script:
  - ulimit -c unlimited -S

script:
  - RESULT=0
  - make
  - make test || RESULT=$?
  - for i in $(find ./ -maxdepth 1 -name 'core*' -print); do gdb $(pwd) core* -ex "thread apply all bt" -ex "set pagination 0" -batch; done
  - if [[ ${RESULT} != 0 ]]; then exit $RESULT ; fi

notifications:
  email: true
  irc: "irc.freenode.org#luvit"

env:
  global:
    secure: pQr0Jc5N3CIWyGn8JmH/2C1AbKTmTJvJfQgVJMuhZjFzU3wHG5U2Opjgbs2kGeijvevCI2UDhw1l0M28kqvxM0tmi3JSLHKPbbV0aaqJpATUbVa6BSCnsFvl7ZKn3oLlPPS/VdHPXM10KrZGMCWGy2zLWn84n14rMwKflAYFrQE=
